@page "/"

<h1 class="font-weight-light">www.TobyMeehan.com</h1>

<p>This site is a full stack application I have been building for 2 years. It started as basic static website when I barely knew HTML, and has grown to be (in my opinion) a pretty advanced project. I have even created an API, so that other applications can use the user accounts system I have. Most of what I do here is probably not too interesting because I mainly focus things I work on to be stuff I want to do, but you can still have a look around.</p>

<p>The source code for everything relating to the website is available on <a href="https://github.com/TobyMeehan/Website">GitHub</a>. If you do have any issues, or have a suggestion for an improvement, please create an issue there, so I can track bugs and improvements more easily.</p>

<h2>Technical</h2>
<p>The whole set of applications relating to the website uses .NET Core 3, and C#. The main website is built with Blazor Server, a new Single Page Application framework for ASP.NET Core, which uses SignalR to send updates as binary between the server and browser, which means page loading is fast, and pages can be dynamically updated after they have been intially rendered. The WebApi uses a more traditional MVC design, where pages are preprocessed by the server, then sent to the browser as static pages. For more information, and details about each section of the website, see readme.md on the GitHub repo.</p>
