@page "/"
@layout BaseLayout

<div id="index-container">
    <div id="index-banner">
        <div id="index-intro" class="text-light">
            <h1 class="text-logo">Toby Meehan</h1>
            <p class="lead">Hi, I'm Toby, I do computery stuff and some more things...</p>
        </div>

        <nav id="index-nav" class="navbar navbar-expand-lg navbar-dark bg-darker">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavbarContent" aria-controls="NavbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="NavbarContent" class="collapse navbar-collapse">
                <DefaultNavContent></DefaultNavContent>
                <span class="navbar-text mr-3"></span>
                <LoginButton></LoginButton>
            </div>
        </nav>
    </div>

    <div class="container text-light" id="index-main">
        <div id="index-socials">
            <a href="DISCORD" class="text-light mx-3 text-decoration-none">
                <i class="fab fa-discord"></i>
            </a>
            <a href="STEAM" class="text-light mx-3 text-decoration-none">
                <i class="fab fa-steam"></i>
            </a>
            <a href="INSTAGRAM" class="text-light mx-3 text-decoration-none">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="GITHUB" class="text-light mx-3 text-decoration-none">
                <i class="fab fa-github"></i>
            </a>
        </div>

        <h2>Muh Projects</h2>

        <hr />

        <div class="media mb-3">
            <img class="mr-3" src="/img/TobysBot.svg" alt="Toby's Bot Icon" />
            <div class="media-body">
                <h5 class="mt-0">Toby's Bot</h5>
                <p>Originally made just to experiment with Discord's bot features, Toby's Bot now serves as a relatively simple music bot for Discord. I am actively working on some cool new things for this, and hope to release a public version at some point.</p>
                <a class="btn btn-light" href="https://github.com/TobyMeehan/TobysBot">
                    <i class="fab fa-github"></i>
                    TobyMeehan/TobysBot
                </a>
                <button class="btn btn-outline-light" disabled>
                    <i class="fab fa-discord"></i>
                    Invite Link Coming Soon&trade;!
                </button>
            </div>
        </div>

        <div class="media mb-3">
            <img class="mr-3" src="/img/TypeQuery.svg" alt="TypeQuery Icon" />
            <div class="media-body">
                <h5 class="mt-0">TypeQuery</h5>
                <p>A library for .NET which generates SQL queries using strongly-typed links between C# objects and database records. It was inspired by <a href="https://github.com/sqlkata/querybuilder">SqlKata</a>, but I wasn't happy with the extensive use of strings. Ironically I have stopped working on this because in the end I found SqlKata quite practical, but what I have done is available on NuGet. I apologise for that disaster of an icon.</p>
                <a class="btn btn-light" href="https://github.com/TobyMeehan/TypeQuery">
                    <i class="fab fa-github"></i>
                    TobyMeehan/TypeQuery
                </a>
                <a class="btn btn-outline-light" href="https://www.nuget.org/packages/TypeQuery/">
                    NuGet
                </a>
            </div>
        </div>

        <div class="media mb-3">
            <img class="mr-3" src="/img/ApiLogo.svg" alt="OAuth API Icon" />
            <div class="media-body">
                <h5 class="mt-0">OAuth API</h5>
                <p>One of my biggest projects, and also one of the most painful, the web API enables third party applications to authenticate with user accounts on this website, and read and update certain information, such as account balance. It does this using a custom implementation of OAuth 2 (as in not using a library), which is what caused quite a lot of the pain, but is quite cool now it's working.</p>
            </div>
        </div>

        <div class="media mb-3">
            <Avatar class="mr-3" alt="Online Casino Icon" style="height: 120px; width: 120px;" ImageUrl="/img/casino-icon.png"></Avatar>
            <div class="media-body">
                <h5 class="mt-0">Online Casino</h5>
                <p>Not one of mine, this was created by <a href="https://tobymeehan.com/users/theonlypersonusingvanityurls">Thomas_Huntley</a>, but uses this website's API to persist players' balance and highscores (at some point, hopefully) between sessions and devices.</p>
                <a class="btn btn-light" href="https://tobymeehan.com/downloads/2CemYL63puz">
                    Download
                </a>
            </div>
        </div>

        <hr />

        <p class="text-center">&copy; @DateTime.Now.Year Toby Meehan</p>
    </div>
</div>
