@inherits AttributableComponentBase

<table @attributes="AdditionalAttributes"
       class="@($"table table-dark {(Hover ? "table-hover" : "")} {CssClass}")">
    <thead>
        @Head
    </thead>
    <tbody>
        @Body
    </tbody>
</table>

@code {
    [Parameter] public RenderFragment Head { get; set; }
    [Parameter] public RenderFragment Body { get; set; }

    [Parameter] public bool Hover { get; set; } = false;
}
