@page "/me/downloads"
@layout SettingsLayout

<Title Value="My Downloads"></Title>

<AuthorizeView Policy="@Authorization.Policies.IsVerified">
    <Authorized>
        @if (_downloads == null)
        {
            <LoadingMessage Text="true" />
        }
        else
        {
            <div class="card my-3">
                <div class="card-body">
                    <h1>Downloads</h1>
                    @if (!_downloads.Any())
                    {
                        <p>You haven't created any downloads.</p>
                    }
                </div>
            </div>

            <div class="card my-3">
                <div class="card-body">
                    <a href="/downloads/add">Add Download</a>
                    @foreach (var download in _downloads)
                    {
                        <DownloadCard Download="download" />
                    }
                </div>
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <Redirect Path="/me" />
    </NotAuthorized>
</AuthorizeView>
