@page
@model BlazorUI.ErrorModel
@{
    ViewData["Title"] = "Error";
    Layout = "~/Pages/Shared/_AuthLayout.cshtml";
}

<h1>Error</h1>

<div class="alert alert-danger">
    <h4 class="alert-heading">Authorisation Failed</h4>
    <p>Something went wrong authorising your account. I generated the message below to help the developer of your application fix the issue.</p>
    <hr />
    <p>@Model.Message</p>
</div>