<a class="text-reset" href="@($"/downloads/{Download.Id}")">
    @Download.Title
    @Verification
</a>

@code {
    [Parameter] public Download Download { get; set; }

    private RenderFragment Verification =>
        @<span>
            @switch (Download.Verified)
            {
                case DownloadVerification.Dangerous:
                    <i class="fas fa-exclamation-circle"></i>
                    break;
                case DownloadVerification.Verified:
                    <i class="fas fa-check-circle"></i>
                    break;
            }
        </span>;
}
