<span>
    <a class="text-reset" href="@($"/downloads/{Download.Id}")">@Download.Title</a>

    <small class="text-muted">
        @if (Download.Visibility == DownloadVisibility.Unlisted)
        {
            <i class="fas fa-eye-slash"></i>
        }
        else
        {
            @switch (Download.Verified)
            {
                case DownloadVerification.Dangerous:
                    <i class="fas fa-exclamation-circle"></i>
                    break;
                case DownloadVerification.Verified:
                    <i class="fas fa-check-circle"></i>
                    break;
            }
        }
    </small>
</span>



@code {
    [Parameter] public Download Download { get; set; }
}
