@{
    Layout = "/Shared/_Layout.cshtml";
    IgnoreSection("Scripts");
}

<div class="banner d-flex h-100">
    <div class="card mx-auto align-self-center bg-dark text-light card-centre">
        <div class="card-body">
            @RenderBody()
        </div>
    </div>
</div>
