@layout BaseLayout
@inherits LayoutComponentBase

@inject ProgressTaskState taskState
@inject AlertState alertState

<div class="banner">

    <header>
        <DefaultNavMenu></DefaultNavMenu>
    </header>

    <div class="container-fluid" style="margin-top: 56px; margin-bottom: 56px;">
        <div class="row">
            <div class="col-sm-2"></div>

            <main class="col-sm-8 bg-main text-light pt-3" style="min-height: calc(100vh - 112px);">
                    <div id="blazor-error-ui" class="alert alert-danger" role="alert">
                        Oh blast, it looks like something fucked up. You can continue using the website by <a href="" class="alert-link reload">reloading</a> the page. If you are really awesome, you can <a href="https://github.com/TobyMeehan/Website/issues/new/choose" class="alert-link">create an issue</a> so I can fix the problem.
                    </div>

                    @foreach (var alert in alertState)
                    {
                        <Alert Model="alert"></Alert>
                    }

                    @Body
            </main>

            <div class="col-sm-2"></div>
        </div>
    </div>

    <footer class="container-fluid fixed-bottom bg-darker text-center text-light" style="min-height: 56px; line-height:56px;">
        <p class="m-0">&copy; @DateTime.Now.Year Toby Meehan</p>
    </footer>
</div>

@code {
    protected override void OnInitialized()
    {
        alertState.OnStateChanged += StateHasChanged;
    }
}
