@inherits LayoutComponentBase
@inject IRepository<User> users

<div class="jumbotron banner-logo"></div>

<DefaultNavMenu></DefaultNavMenu>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>

        <div class="col-sm-8">
            <CascadingValue Value="userTask">
                @Body
            </CascadingValue>
        </div>

        <div class="col-sm-2"></div>
    </div>
</div>

<hr />

<footer class="container-fluid text-center">
    <p>&copy; @DateTime.Now.Year Toby Meehan</p>
    <p><a href="/update">Version 2.2</a></p>
</footer>

@code {
    [CascadingParameter] public Task<AuthenticationState> AuthenticationStateTask { get; set; }

    private Task<User> userTask;

    protected override async Task OnInitializedAsync()
    {
        var context = await AuthenticationStateTask;

        if (context.User.Identity.IsAuthenticated)
        {
            userTask = users.GetByIdAsync(context.User.Id());
        }

        userTask = Task.FromResult<User>(null);
    }
}
