@inherits LayoutComponentBase

@inject ProgressTaskState taskState

<div class="jumbotron banner-logo"></div>

<DefaultNavMenu></DefaultNavMenu>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>

        <div class="col-sm-8">
            @Body
        </div>

        <div class="col-sm-2"></div>
    </div>

    @if (taskState.Tasks.Any(t => t is FileUploadTask))
    {
        <div class="toast show position-absolute" style="right: 75px; bottom: 75px; min-width: 20%;">
            <div class="toast-header">
                @if (taskState.Tasks.Any(t => t is FileUploadTask && t.Status == Tasks.TaskStatus.InProgress))
                {
                    <span class="spinner-border spinner-border-sm mr-2" role="status"></span>
                }
                else
                {
                    <span>
                        <i class="fas fa-check mr-2"></i>
                    </span>
                }

                <strong class="mr-auto">Uploading Files</strong>

                <button type="button" class="close" aria-label="Close" @onclick="() => taskState.Dismiss(t => t is FileUploadTask)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body p-0">
                <UploadList Uploads="taskState.Tasks.Where(t => t is FileUploadTask).Select(t => t as FileUploadTask).ToList()"
                            OnUploadDismiss="(upload) => taskState.Dismiss(upload)"></UploadList>
            </div>
        </div>
    }

</div>

<hr />

<footer class="container-fluid text-center">
    <p>&copy; @DateTime.Now.Year Toby Meehan</p>
    <p><a href="/update">Version 2.2</a></p>
</footer>

@code {
    protected override void OnInitialized()
    {
        taskState.OnStateChanged += async () => await InvokeAsync(StateHasChanged);
    }
}
