<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-600 rounded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-nav navbar-centre">
        <a class="navbar-brand" href="https://tobymeehan.com">
            <span class="text-logo h3">Toby Meehan</span>
        </a>
    </div>

    <div class="navbar-collapse collapse">
        <DefaultNavContent></DefaultNavContent>

        <div class="navbar-nav ml-auto">
            <div class="form-inline">
                <LoginButton></LoginButton>
            </div>
        </div>
    </div>

</nav>