@layout BaseLayout
@inherits LayoutComponentBase

@inject ProgressTaskState taskState
@inject AlertState alertState

<div class="container-fluid d-flex flex-column layout-background bg-800">
    <div class="row">
        <div class="col-sm-2"></div>

        <div class="col-sm-8 p-0">
            <div class="layout-nav-container position-relative">
                <DefaultNavMenu></DefaultNavMenu>
            </div>
        </div>

        <div class="col-sm-2"></div>
    </div>

    <div class="row flex-grow-1">
        <div class="col-sm-2"></div>

        <div class="col-sm-8 d-flex flex-column flex-grow-1 bg-600 text-light rounded-top pt-3" id="snow-main">
            <main class="flex-grow-1">
                @Body
            </main>

            <footer class="w-100">
                <hr />

                <p class="text-center">&copy; @DateTime.Now.Year Toby Meehan</p>
            </footer>
        </div>

        <div class="col-sm-2"></div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        alertState.OnStateChanged += StateHasChanged;
    }
}
