<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark mb-3">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-nav navbar-centre">
        <a class="navbar-brand" href="https://tobymeehan.com">
            <span class="text-logo h3">Toby Meehan</span>
        </a>
    </div>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/downloads" Match="NavLinkMatch.Prefix">Downloads</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/apps" Match="NavLinkMatch.All">Apps</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="https://github.com/TobyMeehan/Website">GitHub</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="https://api.tobymeehan.com">API</NavLink>
            </li>
        </ul>
    </div>

</nav>