@inherits LayoutComponentBase

<div class="banner h-100">
    <header>
        <DefaultNavMenu></DefaultNavMenu>
    </header>

    <div class="container-fluid p-0 overflow-hidden" style="margin-top: 56px; height: calc(100vh - 56px);">
        @Body
    </div>
</div>

@code {

}
