<Card class="my-3 text-center">
    <AppIcon Application="Application"></AppIcon>

    <h5 class="card-title mb-0 mt-2">
        <a href="@($"/developer/applications/{Application.Id}")" class="stretched-link text-reset">
            @Application.Name
        </a>
    </h5>
</Card>

@code {
    [Parameter] public Application Application { get; set; }
}
