@inherits InputBase<string>

<div class="input-group" @attributes="AdditionalAttributes">
    <InputSelect class="custom-select col-2" @bind-Value="_scheme">
        <option selected="@(_scheme == "https")" value="https">https://</option>
        <option selected="@(_scheme == "http")" value="http">http://</option>
    </InputSelect>
    <InputText class="form-control" @bind-Value="_path" placeholder="example.com/callback" />
</div>

@code {
    private string _scheme;

    private string _path
    {
        get
        {
            return $"{GetUri()?.Authority}{GetUri()?.AbsolutePath}";
        }
        set
        {
            SetCurrentValue(value);
        }
    }

    protected override void OnInitialized()
    {
        _scheme = GetUri()?.Scheme ?? "https";

        base.OnInitialized();
    }

    protected override bool TryParseValueFromString(string value, out string result, out string validationErrorMessage)
    {
        validationErrorMessage = "Invalid URL format.";

        bool success = Uri.TryCreate(value, UriKind.Absolute, out Uri uri);
        result = uri?.AbsoluteUri ?? value;

        return success;
    }

    private void SetCurrentValue(string path)
    {
        if (path.Length > 0)
        {
            CurrentValue = $"{_scheme}://{path}";
        }
        else
        {
            CurrentValue = path;
        }
    }

    private Uri GetUri()
    {
        if (Uri.TryCreate(CurrentValue, UriKind.Absolute, out Uri result))
        {
            return result;
        }

        return null;
    }
}
