@page "/admin"
@attribute [Authorize(Policy = AuthorizationPolicies.IsAdmin)]

<Title>Admin</Title>

<h1>Admin Actions</h1>

<Card class="my-3">
    <h2>Users</h2>

    @if (_users == null)
    {
        <Loading></Loading>
    }
    else
    {
        <ul class="list-group list-group-flush">
            @foreach (var user in _users)
            {
                <li class="list-group-item">
                    <UserLink User="user"></UserLink>
                </li>
            }
        </ul>
    }
</Card>