@page "/downloads/{Id}/edit"
@layout EditLayout

@if (_download == null)
{
    <LoadingMessage Text="true" />
}
else
{
    <AuthorizeView Resource="_download" Policy="@Authorization.Policies.EditDownload">
        <Authorized>
            <EditForm Model="_editForm" Context="formContext" OnValidSubmit="EditForm_Submit">
                <DataAnnotationsValidator />

                <div class="form-group">
                    <label for="Title">Title</label>
                    <div class="col-md-10">
                        <InputText id="Title" @bind-Value="_editForm.Title" class="form-control" />
                        <ValidationMessage For="() => _editForm.Title" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="ShortDescription">Short Description</label>
                    <div class="col-md-10">
                        <InputText id="ShortDescription" @bind-Value="_editForm.ShortDescription" class="form-control" />
                        <ValidationMessage For="() => _editForm.ShortDescription" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="LongDescription">Long Description</label>
                    <div class="col-md-10">
                        <InputRichText Id="LongDescription" @bind-Value="_editForm.LongDescription" />
                        <ValidationMessage For="() => _editForm.LongDescription" />
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-dark">Save</button>
                </div>
            </EditForm>
        </Authorized>
        <NotAuthorized>
            <DisplayAlert Alert="_accessDeniedAlert" />
            <Redirect Path="@($"/downloads/{Id}")" />
        </NotAuthorized>
    </AuthorizeView>
}
