@page "/downloads/{Id}/files"
@layout EditLayout

@if (_download == null)
{
    <LoadingMessage Text="true" />
}
else
{
    <AuthorizeView Resource="_download" Policy="@Authorization.Policies.EditDownload">
        <Authorized>
            <div class="custom-file mb-3">
                <EditForm Model="_download" Context="formContext">
                    <InputFile id="FileUpload" class="custom-file-input" OnChange="FileUpload_Change" />
                    <label class="custom-file-label" for="FileUpload"><i class="fas fa-upload"></i> Upload file (200MB)</label>
                </EditForm>
            </div>

            <table class="table table-hover table-sm">
                <tbody>
                    @foreach (string file in _download.Files)
                    {
                        <tr>
                            <td>
                                <FileIcon Filename="@file" />
                            </td>
                            <td>
                                <a class="my-auto" href="@($"https://downloads.tobymeehan.com/{Id}/{file}")">@file</a>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-outline-danger" @onclick="() => DeleteFile_Click(file)">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </Authorized>
        <NotAuthorized>
            <DisplayAlert Alert="_accessDeniedAlert" />
            <Redirect Path="/downloads" />
        </NotAuthorized>
    </AuthorizeView>
}
