@page "/downloads/add"

<Title>Create Download</Title>

<h1>Create Download</h1>

<AuthorizeView Policy="@AuthorizationPolicies.IsVerified">
    <NotAuthorized>
        <Challenge>
            <Alert Context="BootstrapContext.Danger">
                You must have a verified account to create downloads.
            </Alert>
        </Challenge>
    </NotAuthorized>
    <Authorized>

        <EditForm Model="_form" Context="formContext" OnValidSubmit="Form_Submit">
            <DataAnnotationsValidator />

            <div class="form-group">
                <label for="Title">Title</label>
                <div class="col-md-10">
                    <InputText id="Title" @bind-Value="_form.Title" class="form-control" />
                    <ValidationMessage For="() => _form.Title" />
                </div>
            </div>

            <div class="form-group">
                <label for="ShortDescription">Short Description</label>
                <div class="col-md-10">
                    <InputText id="ShortDescription" @bind-Value="_form.ShortDescription" class="form-control" />
                    <ValidationMessage For="() => _form.ShortDescription" />
                </div>
            </div>

            <div class="form-group">
                <label for="LongDescription">Long Description</label>
                <div class="col-md-10">
                    <InputRichText Id="LongDescription" @bind-Value="_form.LongDescription" />
                    <ValidationMessage For="() => _form.LongDescription" />
                </div>
            </div>

            <div class="form-group">
                <label for="Version">Initial Version</label>
                <div class="col-md-10">
                    <InputVersion @bind-Value="_form.Version" />
                    <ValidationMessage For="() => _form.Version" />
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Continue</button>
            </div>
        </EditForm>
    </Authorized>
</AuthorizeView>

<p>
    <a href="/downloads">Back to List</a>
</p>