@page "/downloads/{Id}/authors"
@layout EditLayout

@if (_download == null)
{
    <Loading></Loading>
}
else
{
    <AuthorizeView Resource="_download" Policy="@AuthorizationPolicies.CanEditDownload">
        <NotAuthorized>
            <Challenge>
                <Alert Context="BootstrapContext.Danger">
                    You are not authorised to manage authors for this download.
                </Alert>
            </Challenge>
        </NotAuthorized>
        <Authorized>
            <div class="row">

                <div class="col-md-6">
                    <Card class="my-3">
                        <h2>Add Authors</h2>

                        <ul class="list-group list-group-flush">
                            @foreach (var user in _users)
                            {
                                <li class="list-group-item">
                                    <a href="#" role="button" @onclick="() => AddUser(user)" @onclick:preventDefault>
                                        <Username User="user"></Username>
                                    </a>
                                </li>
                            }
                        </ul>
                    </Card>
                </div>

                <div class="col-md-6">
                    <Card class="my-3">
                        <h2>Manage Authors</h2>

                        <ul class="list-group list-group-flush">
                            @foreach (var author in _download.Authors)
                            {
                                if (author.Id == context.User.Id())
                                {
                                    <li class="list-group-item list-group-item-secondary d-flex justify-content-between">
                                        <span class="my-auto">
                                            <UserLink User="author"></UserLink>
                                        </span>

                                        <button class="btn btn-secondary" disabled="@(_download.Authors.Count() < 2)" @onclick="() => RemoveUser(author)">
                                            <i class="fas fa-user-slash"></i> Leave
                                        </button>
                                    </li>
                                }
                                else
                                {
                                    <li class="list-group-item d-flex justify-content-between">
                                        <span class="my-auto">
                                            <UserLink User="author"></UserLink>
                                        </span>

                                        <button class="btn btn-danger" @onclick="() => RemoveUser(author)">
                                            <i class="fas fa-user-minus"></i> Remove
                                        </button>
                                    </li>
                                }
                            }
                        </ul>
                    </Card>
                </div>
            </div>
        </Authorized>
    </AuthorizeView>
}