@page "/downloads/{Id}/edit"
@layout EditLayout

@if (_download == null)
{
    <Loading></Loading>
}
else
{
    <AuthorizeView Resource="_download" Policy="@AuthorizationPolicies.CanEditDownload">
        <NotAuthorized>
            <Challenge>
                <Alert Context="BootstrapContext.Danger">
                    You are not authorised to edit this download.
                </Alert>
            </Challenge>
        </NotAuthorized>
        <Authorized>
            <EditForm Model="_form" Context="formContext" OnValidSubmit="EditForm_Submit">
                <DataAnnotationsValidator />
                <ServerSideValidator @ref="_serverSideValidator" />

                <div class="form-group">
                    <label for="Title">Title</label>
                    <div class="col-md-10">
                        <InputText id="Title" @bind-Value="_form.Title" class="form-control" />
                        <ValidationMessage For="() => _form.Title" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="ShortDescription">Short Description</label>
                    <div class="col-md-10">
                        <InputText id="ShortDescription" @bind-Value="_form.ShortDescription" class="form-control" />
                        <ValidationMessage For="() => _form.ShortDescription" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="LongDescription">Long Description</label>
                    <div class="col-md-10">
                        <InputRichText Id="LongDescription" @bind-Value="_form.LongDescription" />
                        <ValidationMessage For="() => _form.LongDescription" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="Version">Version</label>
                    <div class="col-md-10">
                        <InputVersion @bind-Value="_form.Version" />
                        <ValidationMessage For="() => _form.Version" />
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-dark">Save</button>
                </div>
            </EditForm>
        </Authorized>
    </AuthorizeView>
}

@code {

}
