@page "/downloads"

<Title>Downloads</Title>

<div class="d-md-flex justify-content-between text-center text-md-left">
    <h1>Downloads</h1>

    <AuthorizeView Policy="@AuthorizationPolicies.IsVerified">
        <a class="btn btn-primary btn-lg my-auto" href="/downloads/add">New Download</a>
    </AuthorizeView>
</div>

<hr />

@if (_downloads == null)
{
    <Loading></Loading>
}
else
{
    <DownloadCardDeck Downloads="_downloads"></DownloadCardDeck>
}