@page "/downloads/library"
@layout IndexLayout

<Title>Library</Title>

<AuthorizeView Policy="@AuthorizationPolicies.IsVerified">
    <NotAuthorized>
        <Challenge></Challenge>
    </NotAuthorized>
    <Authorized>
        @if (_unlisted == null)
        {
            <Loading></Loading>
        }
        else
        {
            <h3>
                <small class="text-muted"><i class="fas fa-eye-slash"></i></small>
                Unlisted
            </h3>

            <DownloadCardDeck Downloads="_unlisted"></DownloadCardDeck>

            <hr />

            <h3>
                <small class="text-muted"><i class="fas fa-portrait"></i></small>
                Your Downloads
            </h3>

            <DownloadCardDeck Downloads="_yourDownloads"></DownloadCardDeck>
        }
    </Authorized>
</AuthorizeView>
