<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <partial name="_Favicons" />
</head>
<body class="h-100">

    <div class="banner text-light">

        <div class="authorize-row authorize-header">
            <h1 class="text-logo h2 authorize-title">
                <a href="https://tobymeehan.com" class="text-reset text-decoration-none">Toby Meehan</a>
            </h1>
        </div>

        <div class="authorize-row authorize-content">
            <div class="card bg-dark card-centre">
                <div class="card-body">
                    @RenderBody()
                </div>
            </div>
        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
