@page
@model BlazorUI.AuthModel
@{
    ViewData["Title"] = "Auth";
    Layout = "~/Pages/Shared/_AuthLayout.cshtml";
}

<h1>Authorise @Model.Application.Name</h1>

<p>@Model.Application.Name is requesting to access to your account. By authorising this application you permit it to do the following:</p>

<ul>
    <li>Send transactions to your account</li>
    <li>Create, modify and delete downloads on your behalf</li>
    <li>I will add to this list as it gets more exciting</li>
</ul>

<p>To accept and give access to this application, press authorise below. You can revoke access at any time by using the 'connections' tab in your account settings.</p>

<form method="post">
    <button type="submit" class="btn btn-light">Authorise</button>
</form>