@page
@model BlazorUI.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Login - TobyMeehan</title>
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="h-100">
    <div class="banner d-flex h-100">
        <div class="card mx-auto align-self-center w-25 bg-dark text-light">
            <div class="card-body">
                <h1>Login</h1>
                <form method="post" asp-antiforgery="true">
                    <div class="form-group">
                        <label asp-for="Login.Username"></label>
                        <input asp-for="Login.Username" class="form-control" />
                        <span asp-validation-for="Login.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Login.Password"></label>
                        <input asp-for="Login.Password" class="form-control" />
                        <span asp-validation-for="Login.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-light">Log In</button>
                    </div>
                </form>
                <p>Don't have an account? <a href="/register" class="text-darklink">Register</a></p>
            </div>
        </div>
    </div>

</body>
</html>
