@page
@model BlazorUI.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Login";
}
<h1>Login</h1>
<form method="post" asp-antiforgery="true">
    <div class="form-group">
        <label asp-for="LoginForm.Username"></label>
        <input asp-for="LoginForm.Username" class="form-control" />
        <span asp-validation-for="LoginForm.Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LoginForm.Password"></label>
        <input asp-for="LoginForm.Password" class="form-control" />
        <span asp-validation-for="LoginForm.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-light">Log In</button>
    </div>
</form>
<p>Don't have an account? <a href="/register" class="text-darklink">Register</a></p>
