@page
@model BlazorUI.RegisterModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<p>Create a new account.</p>

<form method="post" asp-antiforgery="true">
    <div class="form-group">
        <label asp-for="Register.Username"></label>
        <input asp-for="Register.Username" class="form-control" />
        <span asp-validation-for="Register.Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Register.Password"></label>
        <input asp-for="Register.Password" class="form-control" />
        <span asp-validation-for="Register.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Register.ConfirmPassword"></label>
        <input asp-for="Register.ConfirmPassword" class="form-control" />
        <span asp-validation-for="Register.ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-light">Register</button>
    </div>
</form>
<p>Already have an account? <a href="/login" class="text-darklink">Login</a></p>
