@page "/update"

<h1>Updates</h1>

<p>A record of every major update since this website has been a thing.</p>

<h2>July 2018 <small class="text-muted">The Bootstrap Update</small></h2>
<ul>
    <li>Complete style overhaul using the Bootstrap framework.</li>
    <li>New download system using PHP, now any file can be downloaded.</li>
    <li>Created new favicons once again, hopefully android isn't left out this time.</li>
    <li>You can now delete your account, and soon you will be able to change your password but I didn't get that script finished in time.</li>
    <li>Pages are now responsive for mobile.</li>
</ul>

<h2>December 2018 <small class="text-muted">The ASP Update</small></h2>
<ul>
    <li>CHanged server-side framework to ASP.NET, replacing PHP. This comes with some extra things like a new footer on every page.</li>
    <li>Brand new accounts system, with more account info and verified accounts.</li>
    <li>New and expandable download system allowing those with verified accounts to add their own downloads.</li>
    <li>Changed the font to Ubuntu. Should look better now.</li>
</ul>

<h2>February 2019 <small class="text-muted">The MVC Update</small></h2>
<ul>
    <li>New domain name.</li>
    <li>Another server-side framework, ASP.NET MVC this will be the last one <small class="text-muted">it wasn't lol</small> as I'm getting tired of back-end stuff.</li>
    <li>Accounts system has been completely 100% definitely finished, except for transactions.</li>
    <li>Some tweaks to downloads, the Add page actually makes some logical sense now, and there is a proper document-like editor for the long description.</li>
    <li>Updated from Bootstrap 3 to Bootstrap 4, so there are some style differences.</li>
    <li>Obviously new banner and logos.</li>
</ul>
<h3>February 2019 1.1</h3>
<ul>
    <li>Download creators' usernames are now displayed on the card footer in the list.</li>
    <li>Fixed a bug where clicking on the apps link sent you to the app page you were already on.</li>
    <li>Added text encryptor in the Apps section. This used to be a download.</li>
    <li>The version on the footer is now a link to this page.</li>
</ul>
<h3>February 2019 1.2</h3>
<ul>
    <li>Links in the navbar will 'light up' if you're on that page.</li>
    <li>Added a Users section where you can view all registered users, and see their information.</li>
    <li>Accounts now have a space where the user can write stuff in.</li>
</ul>

<h2>October 2019</h2>
<ul>
    <li>Improved the account settings area. It now has individual tabs for each section.</li>
    <li>Settings has an addition section for API connections.</li>
    <li>New developer area, where you can create apps for use with the API.</li>
    <li>General compatibility for the API.</li>
</ul>

<p>Note: Despite the previous update being very focused on the API, subsequent references to the API are talking about a brand new one, due to the update to .NET Core I had to rewrite everything, including the API which never got used.</p>

<h2>April 2020 <small class="text-muted">The Blazor Update</small></h2>
<ul>
    <li>New server-side framework once again, Blazor Server, which improves performance and user experience greatly. I would say no more changes like this, but I seem to enjoy updating every year. Blazor is very new though so I am more confident it won't change next year.</li>
    <li>You will now stay logged into your account for more than 20 minutes, currently set to 6 months.</li>
    <li>Improved the download edit area, with a decent file manager and much more coherence.</li>
    <li>Developer area has been moved to the API, and as mentioned above, changed significantly. The new API will now has my full attention with this update finished, so will be released shortly.</li>
    <li>There is no longer a big list of all the registered users, but wherever a username appears it is clickable, taking you to their profile.</li>
    <li>Accounts no longer have a space where the user can write stuff in.</li>
    <li>The entire website, including this site, the API and the libraries they run on is now open source on GitHub.</li>
</ul>