
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shrek</title>

    <style>
        .display-none {
            display: none;
        }
    </style>
</head>
<body>

    <button onclick="toggleshrek()">Shrek</button>

    <p id="text">Click for shrek</p>

    <div id="shrek" class="display-none">
        <img src="https://upload.wikimedia.org/wikipedia/en/4/4d/Shrek_%28character%29.png" />
    </div>

    <div class="display-none">
        <audio id="audio" src="https://ia600306.us.archive.org/16/items/AllStar/SmashMouth-AllStar_64kb.mp3"></audio>
    </div>

    <script>
        shrek = false;
        element = document.getElementById('shrek');
        audio = document.getElementById('audio');
        text = document.getElementById('text');

        function toggleshrek() {
            if (shrek) {
                element.style.display = "none";
                audio.pause();
                audio.load();
                text.innerHTML = "Click for shrek"
            }
            else {
                element.style.display = "block";
                audio.play();
                text.innerHTML = "Shrek:"
            }     

            shrek = !shrek;
        }
    </script>
</body>
</html>
