@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>@ViewData["Title"] - TobyMeehan</title>

    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
    <script defer src="~/font-awesome/js/all.js"></script>
</head>
<body class="h-100">
    <div class="banner d-flex h-100">
        <div class="card mx-auto align-self-center bg-dark text-light card-centre">
            <div class="card-body">
                @RenderBody()
            </div>
        </div>
    </div>

</body>
</html>
