<EditForm Model="@_model" OnValidSubmit="Form_ValidSubmit">
    <DataAnnotationsValidator />
    <ServerSideValidator @ref="_serverSideValidator" />

    <div class="form-group">
        <label for="CurrentPassword" class="col-md-10">Current Password</label>
        <div class="col-md-10">
            <InputText id="CurrentPassword" type="password" @bind-Value="_model.CurrentPassword" class="form-control" />
            <ValidationMessage For="@(() => _model.CurrentPassword)" />
        </div>
    </div>

    <div class="form-group">
        <label for="NewPassword" class="col-md-10">New Password</label>
        <div class="col-md-10">
            <InputText id="NewPassword" type="password" @bind-Value="_model.NewPassword" class="form-control" />
            <ValidationMessage For="@(() => _model.NewPassword)" class="text-danger" />
        </div>
    </div>

    <div class="form-group">
        <label for="ConfirmNewPassword" class="col-md-10">Confirm New Password</label>
        <div class="col-md-10">
            <InputText id="ConfirmNewPassword" type="password" @bind-Value="_model.ConfirmNewPassword" class="form-control" />
            <ValidationMessage For="@(() => _model.ConfirmNewPassword)" class="text-danger" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <button type="submit" class="btn btn-dark">Change</button>
        </div>
    </div>
</EditForm>