<AuthorizeView Policy="@AuthorizationPolicies.IsAdmin">
    <NotAuthorized>
        <AwaitTask Model="_user">
            <EditForm Model="_model" OnValidSubmit="Form_ValidSubmit" Context="formContext">
                <DataAnnotationsValidator />
                <ServerSideValidator @ref="_serverSideValidator" />

                <div class="form-group">
                    <label for="Password" class="col-md-10">Password</label>
                    <div class="col-md-10">
                        <InputText id="Password" type="password" @bind-Value="_model.Password" class="form-control" />
                        <ValidationMessage For="@(() => _model.Password)" class="text-danger" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>

            </EditForm>
        </AwaitTask>
    </NotAuthorized>
    <Authorized>
        <p class="text-danger">Admin accounts cannot be deleted automatically.</p>
    </Authorized>
</AuthorizeView>