@page "/users"

<h1>Users</h1>

<p>This is a temporary page which lists every user for comparing ranks on The Button. At some point I will find a more elegant solution.</p>

@if (_users == null)
{
    <Loading></Loading>
}
else
{
    <ul class="list-group list-group-flush">
        @foreach (var user in _users)
        {
            <li class="list-group-item">
                <UserLink User="user"></UserLink>
            </li>
        }
    </ul>
}