@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">api.TobyMeehan.com</h1>
    <p class="lead">Welcome to the API website. This site contains the developer area for creating API applications, and documentation on functionality and usage of the API itself.</p>
    <p>The API allows third party applications to access functionality of tobymeehan.com, by calling the API on behalf of a user. Authorisation is achieved with a full implementation of the OAuth 2 standard, defined in <a href="https://tools.ietf.org/html/rfc6749" class="alert-link text-reset">RFC6749</a>. Essentially, this means authentication takes place on the trusted server, and successful authorisation gives applications a limited scope to perform actions on behalf of a user. I'm really not qualified to define this stuff though so I'll let the documentation, both here and elsewhere that I've referenced explain the rest.</p>
    <p>To get started as a developer, login using your tobymeehan.com account in the top right, then go to the developer link in the navbar.</p>
</div>
