@using DataAccessLibrary.Data;

@inject IUserProcessor userProcessor

<span>
    @Username
</span>

@code {
    [Parameter]
    public string Username { get; set; }

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Username = (!string.IsNullOrEmpty(Username)) ? Username : (await userProcessor.GetUserById(Id)).Username;
    }
}
