@page "/developer/applications/{id}"

@if (_application == null)
{
    <Loading></Loading>
}
else
{
    <h2>Information</h2>

    <div class="row">
        <div class="col-md-2">
            <label>Icon</label>

            <Card class="text-center">
                <label for="UploadIcon" class="d-block" style="cursor: pointer;">
                    <AppIcon Application="_application"></AppIcon>
                </label>

                <button type="button" class="btn btn-danger btn-sm btn-block mb-0 mt-2" @onclick="RemoveIcon_Click">
                    Remove
                </button>
            </Card>

            <InputFile id="UploadIcon" accept="image/*" hidden OnChange="Icon_Change" />
        </div>

        <div class="col-md-10">
            <EditForm Model="_model" OnValidSubmit="InformationForm_Submit">
                <DataAnnotationsValidator />
                <ServerSideValidator @ref="_serverSideValidator" />

                <div class="form-group">
                    <label for="Name">Name</label>
                    <InputText class="form-control" id="Name" @bind-Value="_model.Name" />
                    <ValidationMessage For="() => _model.Name" />
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                        <label>Client ID</label>
                        <br />
                        <code>@_application.Id</code>
                        <br />
                        <button class="btn btn-secondary btn-sm" @onclick="() => js.CopyToClipboard(_application.Id)">Copy</button>
                    </div>
                    <div class="col-md-6">
                        <label>Client Secret</label>
                        @if (_application.Secret != null)
                        {
                            <br />
                            <code>@_application.Secret</code>
                            <br />
                            <button class="btn btn-secondary btn-sm" @onclick="() => js.CopyToClipboard(_application.Secret)">Copy</button>
                        }
                    </div>
                </div>

                <div class="form-group">
                    <label for="RedirectUri">Redirect URI</label>
                    <InputRedirectUri id="RedirectUri" @bind-Value="_model.RedirectUri" />
                    <ValidationMessage For="() => _model.RedirectUri" />
                </div>

                <div class="form-group">
                    <label for="Description">Description</label>
                    <InputTextArea id="description" class="form-control" rows="4" @bind-Value="_model.Description" maxlength="400" />
                    <ValidationMessage For="() => _model.Description" />
                </div>

                <div class="form-group row">
                    <button type="submit" class="btn btn-primary">Save</button>

                    <button type="button" class="btn btn-danger ml-auto" @onclick="Delete_Click">Delete</button>
                </div>
            </EditForm>
        </div>
    </div>
}