@page "/apps"

<h1>Apps</h1>

<p>Some old apps I made with javascript "back in the day".</p>
<hr />
<h2>Piano Chord Creator</h2>
<p>Select notes, and create a chord from them.</p>
<a href="/apps/chords">Chord Creator</a>

@code {

}
