@page "/apps"

<Title Value="Apps"></Title>

<h1>Apps</h1>

<p>I originally planned to remove this section in the most recent update, but I kept it due to popular demand. These are some basic javascript applications I made a while ago, or currently only one because I can't be bothered to migrate the other.</p>
<hr />
<h2>Piano Chord Creator</h2>
<p>Select notes, and create a chord from them.</p>
<a href="/apps/chords">Chord Creator</a>
