@page
@using TobyMeehan.Com.Accounts.Extensions
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p>@User.Id()</p>

<h2 class="text-2xl">New Application</h2>

<form method="post">
    <div class="my-3">
        <label class="block text-md mb-1.5" asp-for="ApplicationForm.Name"></label>
        <input class="form-control" type="text" asp-for="ApplicationForm.Name" />
        <span class="text-sm text-negative" asp-validation-for="ApplicationForm.Name"></span>
    </div> 
    
    <div class="my-3">
        <label class="block text-md mb-1.5" asp-for="ApplicationForm.RedirectUri">Redirect</label>
        <input class="form-control" type="url" asp-for="ApplicationForm.RedirectUri" />
        <span class="text-sm text-negative" asp-validation-for="ApplicationForm.RedirectUri"></span>
    </div>
    
    <button class="btn btn-primary my-3 w-full" type="submit">Create</button>
</form>

<ul>
    @foreach (var application in Model.Applications)
    {
        <li>
            <p class="font-bold">@application.Name</p>
            <ul>
                @foreach (var redirect in application.Redirects)
                {
                    <p>@redirect.Uri.AbsoluteUri</p>
                }
            </ul>
        </li>
    }
</ul>

@section Scripts
{
    <partial name="Shared/_ValidationScriptsPartial"/>
}
