@page
@using TobyMeehan.Com.Accounts.Extensions
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (HttpContext.User.Identity?.IsAuthenticated ?? false)
{
    <p>@HttpContext.User.Id()</p>
}