@page
@model TobyMeehan.Com.Accounts.Pages.Login
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Login</h2>

<form method="post">
    <div class="mb-3 row">
        <label asp-for="Form.Handle">Username</label>
        <div class="col-sm-10">
            <input asp-for="Form.Handle" type="text" class="form-control" />
            <span asp-validation-for="Form.Handle" class="invalid-feedback"></span>
        </div>
    </div>
    
    <div class="mb-3 row">
        <label asp-for="Form.Password">Password</label>
        <div class="col-sm-10">
            <input asp-for="Form.Password" type="password" class="form-control" />
            <span asp-validation-for="Form.Password" class="invalid-feedback"></span>
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Login</button>
</form>