@page
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TobyMeehan.Com.Accounts.Pages.Register
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2 class="text-3xl font-extralight mb-7 text-center">Register</h2>

<form method="post">
    
    <div class="my-3">
        <label class="block text-md mb-1.5" asp-for="Form.Username">Username</label>
        <input class="form-control" type="text" asp-for="Form.Username" />
        <span class="text-sm text-negative" asp-validation-for="Form.Username"></span>
    </div>
    
    <div class="my-3">
        <label class="block text-md mb-1.5" asp-for="Form.Password">Password</label>
        <input class="form-control" type="password" asp-for="Form.Password" />
        <span class="text-sm text-negative" asp-validation-for="Form.Password"></span>
    </div>
    
    <div class="my-3">
        <label class="block text-md mb-1.5" asp-for="Form.ConfirmPassword">Confirm Password</label>
        <input class="form-control" type="password" asp-for="Form.ConfirmPassword" />
        <span class="text-sm text-negative" asp-validation-for="Form.ConfirmPassword"></span>
    </div>

    <button type="submit" class="btn btn-primary my-3 w-full">Register</button>
    
    <p>Already have an account? <a class="link" asp-page="./Login">Log in</a></p>
</form>

@section Scripts
{
    <partial name="Shared/_ValidationScriptsPartial" />
}
