@page "/me/connections"
@layout SettingsLayout

<Title>Connections</Title>

<Card class="my-3">
    <h1>Connections</h1>
</Card>

<Card class="my-3">
    <Require Model="_connections">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Author</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var connection in _connections)
                {
                    <tr>
                        <td>@connection.Application.Name</td>
                        <td><UserLink User="@connection.Application.Author"></UserLink></td>
                        <td>
                            <button class="btn btn-link text-danger p-0" @onclick="() => RevokeConnection(connection)">
                                <i class="fas fa-minus-circle"></i>
                                Revoke
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Require>
</Card>
