@page "/me/transactions"
@layout SettingsLayout

<Title>Transactions</Title>

<Card class="my-3">
    <h1>Transactions</h1>
</Card>

<Card class="my-3">
    <p>Balance: @CurrentUser.Balance</p>

    <Table>
        <Head>
            <tr>
                <th scope="col">Sender</th>
                <th scope="col">Description</th>
                <th scope="col">Amount</th>
            </tr>
        </Head>
        <Body>
            @foreach (var transaction in CurrentUser.Transactions)
            {
                <tr>
                    <td>
                        <div class="row m-0">
                            <div class="mr-1" style="width: 1.4em;">
                                <AppIcon Application="transaction.Application" FontSize="0.7"></AppIcon>
                            </div>

                            @transaction.Application.Name
                        </div>
                    </td>
                    <td>@transaction.Description</td>
                    <td>@transaction.Amount</td>
                </tr>
            }
        </Body>
    </Table>
</Card>