<div class="jumbotron py-4 text-center bg-dark">
    <div class="mb-4">
        @if (_durationToStart > TimeSpan.Zero)
        {
            <button class="btn btn-secondary btn-lg" disabled>The Button</button>
            <p>The Button 2 will begin in 
                @(((int)_durationToStart.TotalHours).ToString("D2")):@_durationToStart.Minutes.ToString("D2"):@_durationToStart.Seconds.ToString("D2")
                
                <AuthorizeView>
                    <NotAuthorized>
                        Make sure you are <a href="/login">signed in</a>.
                    </NotAuthorized>
                </AuthorizeView>
            </p>
        }
        else if (_percentageProgress >= 100)
        {
            <button class="btn btn-danger btn-lg" disabled>The <i class="fas fa-skull-crossbones"></i> Button</button>
            <p>The experiment is over. Thank you for taking part.</p>
        }
        else
        {
            <AuthorizeView>
                <NotAuthorized>
                    <button class="btn btn-secondary btn-lg" disabled>The Button</button>
                    <p><a href="/login">Sign in</a> to use the button.</p>
                </NotAuthorized>
                <Authorized>
                    <button class="btn btn-secondary btn-lg" @onclick="() => OnButtonClick(context.User.Id())">The Button</button>
                </Authorized>
            </AuthorizeView>
        }
    </div>

    <ButtonProgress PercentageProgress="_percentageProgress"></ButtonProgress>
</div>