.bg-800 {
    background-color: #18191c;
}

.bg-700 {
    background-color: #202225;
}

.bg-600 {
    background-color: #292B2F;
}

.bg-500 {
    background-color: #2F3136;
}

.bg-400 {
    background-color: #343a40;
}