@media (min-width: 0) {
    .card-deck-responsive-2, .card-deck-responsive-3, .card-deck-responsive-4, .card-deck-responsive-5 .card {
        flex: 0 0 calc(100% - 30px);
    }
}

@media (min-width: 576px) { /* sm */
    .card-deck-responsive-2, .card-deck-responsive-3, .card-deck-responsive-4, .card-deck-responsive-5 .card {
        flex: 0 0 calc(100% - 30px);
    }
}

@media (min-width: 768px) { /* md */
    .card-deck-responsive-2, .card-deck-responsive-3, .card-deck-responsive-4, .card-deck-responsive-5 .card {
        flex: 0 0 calc(50% - 30px);
    }
}

@media (min-width: 992px) { /* lg */
    .card-deck-responsive-2 .card {
        flex: 0 0 calc(50% - 30px);
    }

    .card-deck-responsive-3 .card {
        flex: 0 0 calc(33.3333333333% - 30px);
    }

    .card-deck-responsive-4 .card {
        flex: 0 0 calc(25% - 30px);
    }

    .card-deck-responsive-5 .card {
        flex: 0 0 calc(20% - 30px);
    }
}

@media (min-width: 1200px) { /* xl */
    .card-deck-responsive-2 .card {
        flex: 0 0 calc(50% - 30px);
    }

    .card-deck-responsive-3 .card {
        flex: 0 0 calc(33.3333333333% - 30px);
    }

    .card-deck-responsive-4 .card {
        flex: 0 0 calc(25% - 30px);
    }

    .card-deck-responsive-5 .card {
        flex: 0 0 calc(20% - 30px);
    }
}