body {
}

.bg-main {
    background-color: #18191c;
}

.bg-darker {
    background-color: #292b2f;
    /*background-color: #2f3136;*/
}

.list-group-item:not(.list-group-item-default):not(.list-group-item-success):not(.list-group-item-warning):not(.list-group-item-danger):not(.list-group-item-info) {
    color: #fff;
    background-color: #343a40;
}

.list-group-item-action:not(.list-group-item-default):not(.list-group-item-success):not(.list-group-item-warning):not(.list-group-item-danger):not(.list-group-item-info):hover,
.list-group-item-action:not(.list-group-item-default):not(.list-group-item-success):not(.list-group-item-warning):not(.list-group-item-danger):not(.list-group-item-info):focus {
    color: #fff;
    background-color: rgba(255,255,255,.075);
}

.list-group-item-action.list-group-item-reset:not(.list-group-item-default):not(.list-group-item-success):not(.list-group-item-warning):not(.list-group-item-danger):not(.list-group-item-info):hover,
.list-group-item-action.list-group-item-reset:not(.list-group-item-default):not(.list-group-item-success):not(.list-group-item-warning):not(.list-group-item-danger):not(.list-group-item-info):focus {
    color: #495057;
    background-color: #f8f9fa;
}

.nav-tabs:not(.nav-tabs-default) {
    border-bottom-color: #343a40;
}

    .nav-tabs:not(.nav-tabs-default) .nav-item.show .nav-link, .nav-tabs:not(.nav-tabs-default) .nav-link.active {
        background-color: #343a40;
        border-color: #343a40;
    }

    .nav-tabs:not(.nav-tabs-default) .nav-link:focus, .nav-tabs:not(.nav-tabs-default) .nav-link:hover {
        border-color: #343a40;
    }

.page-link:not(.page-link-default) {
    color: #f8f9fa;
    background-color: #343a40;
    border-color: rgba(0,0,0,.125);
}

.page-link:not(.page-link-default):hover {
    color: #cbd3da;
    background-color: #1d2124;
}

.page-item.disabled .page-link:not(.page-link-default) {
    color: #6c757d;
    background-color: #343a40;
    border-color: rgba(0,0,0,.125);
}

.page-item.active .page-link:not(.page-link-default) {
    color: #343a40;
    background-color: #f8f9fa;
    border-color: rgba(0,0,0,.125);
}

.form-control-plaintext {
    color: #cbd3da;
}