html, body {
}

.text-darklink {
    color: #79828a;
}

    .text-darklink:focus, .text-darklink:hover {
        color: #6c757d;
    }

.footer {
    min-height: 60px;
    line-height: 60px;
    border-top: 1px solid #161619;
}

.banner {
    margin-bottom: 0;
    border-radius: 0;
    background-image: url("/img/Banner.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
}

.banner-logo {
    margin-bottom: 0;
    border-radius: 0;
    height: 250px;
    background-image: url("/img/BannerLogo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
}

.the-button {
    height: 64px;
    width: 64px;
    background-color: red;
    border-radius: 50%;

}

.button-purple {
    background-color: purple;
    color: white;
}

.button-blue {
    background-color: #0083C7;
    color: white;
}

.button-green {
    background-color: #02be01;
    color: white;
}

.button-yellow {
    background-color: #E5D900;
}

.button-orange {
    background-color: #e59500;
}

.button-red {
    background-color: #e50000;
    color: white;
}

.square {
    position: relative;
}

    .square::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    .square * {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.avatar {
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
}

    .avatar text {
        font-size: 1.25rem;
    }

i.avatar {
    width: initial !important;
    height: initial !important;
}

.avatar.avatar-inline {
    width: 1.5em;
    height: 1.5em;
}

    .avatar.avatar-inline text {
        font-size: 0.8rem;
    }

i.avatar-inline {
    font-size: 1.5em;
}

.avatar.avatar-medium {
    width: 48px;
    height: 48px;
}

.avatar.avatar-medium text {
    font-size: 1.1rem;
}

i.avatar-medium {
    font-size: 48px;
}

.input-avatar-button {
    position: absolute;
    bottom: -30%;
    right: -30%;
    border-radius: 50%;
}

@media (min-width: 0) {
    .card-centre {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 576px) {
    .card-centre {
        border-radius: 0;
    }
}

@media (min-width: 576px) { /* sm */
    .card-centre {
        width: 75%;
        height: initial;
    }
}

@media (min-width: 768px) { /* md */
    .card-centre {
        width: 55%;
    }
}

@media (min-width: 992px) { /* lg */
    .navbar-centre {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .card-centre {
        width: 35%;
    }
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

/*.form-control.valid {
    border-color: #28a745;
}*/

.form-control.invalid {
    border-color: #dc3545;
}

.validation-message {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

#blazor-error-ui {
    display: none;
}

/*#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}*/
