@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
}

.text-darklink {
    color: #79828a;
}

.text-darklink:focus, .text-darklink:hover {
    color: #6c757d;
}

.banner {
    margin-bottom: 0;
    border-radius: 0;
    background-image: url("/img/Banner.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
}

.banner-logo {
    margin-bottom: 0;
    border-radius: 0;
    height: 250px;
    background-image: url("/img/BannerLogo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
}

@media (min-width: 0) {
    .card-deck-responsive .card {
        flex: 0 0 calc(100% - 30px);
    }

    .card-centre {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 576px) {
    .card-centre {
        border-radius: 0;
    }
}

@media (min-width: 576px) { /* sm */
    .card-deck-responsive .card {
        flex: 0 0 calc(100% - 30px);
    }

    .card-centre {
        width: 75%;
        height: initial;
    }
}

@media (min-width: 768px) { /* md */
    .card-deck-responsive .card {
        flex: 0 0 calc(50% - 30px);
    }

    .card-centre {
        width: 55%;
    }
}

@media (min-width: 992px) { /* lg */
    .card-deck-responsive .card {
        flex: 0 0 calc(33.3333333333% - 30px);
    }

    .navbar-centre {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .card-centre {
        width: 35%;
    }
}

@media (min-width: 1200px) { /* xl */
    .card-deck-responsive .card {
        flex: 0 0 calc(33.3333333333% - 30px);
    }
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.form-control.valid {
    border-color: #28a745;
}

.form-control.invalid {
    border-color: #dc3545;
}

.validation-message {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
