@inherits AttributableComponentBase

<div class="@CssClass alert alert-@Context.ToString().ToLower()" role="alert">
    @ChildContent

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

@code {
    [Parameter] public AlertModel Model
    {
        set
        {
            Context = value.Context;
            ChildContent = value.ChildContent;
        }
    }

    [Parameter] public BootstrapContext Context { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }
}
