<label for="@Id" style="cursor: pointer;" class="position-relative mr-3 mb-0">
    <UserAvatar User="User" class="avatar-medium"></UserAvatar>
    <button class="btn btn-danger btn-sm input-avatar-button" @onclick="OnDelete"><i class="fas fa-trash"></i></button>
</label>

<InputFile hidden id="@Id" accept="image/*" OnChange="OnChange" />

@code {
    [Parameter] public string Id { get; set; }

    [Parameter] public User User { get; set; }

    [Parameter] public EventCallback<IEnumerable<IFileReference>> OnChange { get; set; }

    [Parameter] public EventCallback OnDelete { get; set; }
}
