<span class="font-weight-bold">
    @if (IncludeAvatar)
    {
        <UserAvatar User="User" class="avatar-inline"></UserAvatar>
    }

    @User.Username

    @if (User.TryGetButtonRole(out Role buttonRole))
    {
        <span class="@($"badge badge-pill button-{buttonRole.Name.ToLower()}")">
            @buttonRole.Name
        </span>
    }
</span>

@code {
    [Parameter] public User User { get; set; }

    [Parameter] public bool IncludeAvatar { get; set; } = true;
}
