@inherits AttributableComponentBase

<li class="media @CssClass" @attributes="AdditionalAttributes">
    <UserMediaContent User="User">
        <Title>@Title</Title>
        <ChildContent>@ChildContent</ChildContent>
    </UserMediaContent>
</li>

@code {
    [Parameter] public User User { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public RenderFragment Title { get; set; }
}
