<span>
    <img src="@ProfilePictureUrl" style="height: 1.4em;" class="rounded" />

    @User.Username
</span>

@code {
    [Parameter] public User User { get; set; }

    private string ProfilePictureUrl => User.ProfilePictureUrl ?? "/img/DefaultProfile.svg";
}
